<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yeii | Asesores</title>
    <link rel="icon" type="image/png" href="/images/brand/favicon-web.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <div class="container">

            <div class="brand">
                <a href="/index.html">
                    <img class="desktop" src="/images/brand/Logo.png" alt="">
                </a>
                <a href="/index.html">
                    <img class="mobile" src="/images/brand/Logo_mob.png" alt=""href="/index.html">
                </a>
            
            </div>

            <div class="navbar-menu">
                <a href="/views/empresa.html">Soy empresa</a>
                <a href="/views/asesor.html">Soy asesor</a>
            </div>

            <div class="cta">
                <a id="desktop" class="desktop button-light-b" href="/views/form.html">Únete a yeii ></a>
                <a id="mobile" class="mobile button-light-b" href="/views/form.html">Únete ></a>                    
            </div>

        </div>
    </nav>

    <section class="hero">
        <div class="container">

            <div class="wrapper-image">
                <img class="desktop" src="/images/asesores/customer_hero_d.png" alt="">
                <img class="mobile" src="/images/asesores/customer_hero_m.png" alt="">
            </div>

            <div class="wrapper-content">
                <h3>Obtén un <span class="yellow">ingreso</span> desde casa, que se ajuste a tus necesidades</h3> 
                <p>Ya sea tiempo completo, medio tiempo o por horas. Sé un asesor telefónico que brinde un servicio fuera de este mundo.</p>
                <a class="button-light-b" href="/views/form.html">Únete a yeii ></a>
            </div>

        </div>
    </section>


    <section class="beneficios">
        <div class="container">
            
            <div class="header">
                <h4 class="blue">Los beneficios</h4>
                <h2>Ingresos a tu medida</h2>
            </div>

            <div class="wrapper-card">
                <div class="container-card">

                    <div class="card">
                        <div class="image">
                            <img src="/images/asesores/customer_rectangle_d.png" alt="">                            
                        </div>
                        <div class="content">
                            <h4>Trabaja tiempo completo o <br> medio tiempo</h4>
                            <p>Trabaja de manera On-demand, tu encargate de ofrecer el mejor servicio, nosotros de encontrar las ofertas.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/images/asesores/pc_d.png" alt="">
                        </div>
                        <div class="content">
                            <h4>Trabaja desde <br> casa</h4>
                            <p>Puedes trabajar desde casa y con todas las herramientas a la mano, solo necesitas una conexión a internet y una computadora.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/images/asesores/hands_d.png" alt="">                            
                        </div>
                        <div class="content">
                            <h4>Gana más como <br> asesor</h4>
                            <p>No somos un call center, buscamos que ganes más, te capacites y tengas oportunidad de crecimiento para lograr tus sueños.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="porque">
        <div class="container">

            <div class="header">
                <h4 class="yellow">Porque elegir yeii</h4>
                <h2>Forma parte de la (re)evolución</h2>
            </div>

            <div class="wrapper-card">
                <div class="container-card">

                    <div class="card">
                        <img src="/images/asesores/Icons.svg" alt="">
                        <h4>Cultura de <br> servicio</h4>
                        <p>Lo más importante son las personas. Tendrás un respaldo y un equipo de personas que te ayudará a que tú estés bien para que brindes el mejor servicio.</p>
                    </div>

                    <div class="card">
                        <img src="/images/asesores/Icons1.svg" alt="">
                        <h4>Posibilidades de <br> crecer</h4>
                        <p>Tendrás posibilidades de ir de un padawan a todo un maestro jedi. Tienes oportunidad de siempre ganar más.</p>
                    </div>

                    <div class="card">
                        <img src="/images/asesores/Icons2.svg" alt="">
                        <h4>Capacitación <br> continua</h4>
                        <p>Necesitas capacitarte constantemente y de forma rápida. Hemos creado las herramientas  para que estés al día, siempre listo a cualquier situación.</p>
                    </div>

                    <div class="card">
                        <img src="/images/asesores/Icons3.svg" alt="">
                        <h4>Feedback y <br> retroalimentación</h4>
                        <p>Para mejorar, tendrás retroalimentación continua, te daremos los mejores trucos ninjas para que cada vez lo hagas mejor. </p>
                    </div>
             </div>
            </div>
        </div>
    </section>


    <section class="close">
        <div class="container">

            <div class="wrapper-close">
                <div class="wrapper-brand">
                    <img src="/images/brand/Favicon.png" alt="">
                </div>
                <div class="wrapper-content">
                    <h4 class="yellow-n">Súmate a la cadena de valor </h4>
                    <h6>Usamos la tecnología para que las empresas ahorren costos y los asesores puedan ganar mucho más.</h6>
                </div>

                <div class="wrapper-button">
                    <a href="/views/form.html" class="button-dark">Únte a yeii ></a>
                </div>
            </div>

        </div>
    </section>


    
    <footer class="footer">
        <div class="container">

            <div class="wrapper-menu">
                <div class="container-menu">
                    <div class="menu-list">
                        <ul>
                            <li class="bold">Menu</li>
                            <li><a href="/views/asesor.html">Asesores</a></li> 
                            <li><a href="/views/empresa.html">Empresas</a></li>
                        </ul>
                    </div>
                    <div class="menu-list">
                        <ul>
                            <li class="bold"> <b>Siguenos</b> </li>
                            <li><a target="blank" href="https://www.facebook.com/yeii.chat">Facebook</a></li>
                            <li><a target="blank" href="https://www.instagram.com/yeii.chat/">Instagram</a></li>
                            <li><a target="blank" href="https://twitter.com/yeiichat">Twitter</a></li>
                            <li><a target="blank" href="https://www.linkedin.com/company/yeii-chat">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="menu-list">
                        <ul>
                            <li class="bold">Contacto</li>
                            <li>+52 56 2834 8889</li>
                            <li>hola@yeii.chat</li>
                            <li>@yeii.chat</li>
                        </ul>
                    </div>
                    <div class="menu-copy">
                        <p>
                            👋 <br>
                            Un servicio fuera de este mundo  en un clic
                        </p>
                    </div>
                </div>
            </div>

            <div class="wrapper-politics">
                <hr>
                    <div class="container">
                    <img src="/images/brand/Logo.png" alt="">
                    <p>© 2020 yeii.chat. Todos los derechos reservados.</p>
                </div>
            </div>


        </div>
    </footer>

    
</body>
</html>