<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yeii | Empresas</title>
    <link rel="icon" type="image/png" href="/images/brand/favicon-web.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <div class="container">

            <div class="brand">
                <a href="/index.html">
                    <img class="desktop" src="/images/brand/Logo.png" alt="">
                </a>
                <a href="/index.html">
                    <img class="mobile" src="/images/brand/Logo_mob.png" alt=""href="/index.html">
                </a>
            
            </div>

            <div class="navbar-menu">
                <a href="/views/empresa.html">Soy empresa</a>
                <a href="/views/asesor.html">Soy asesor</a>
            </div>

            <div class="cta">
                <a id="desktop" class="desktop button-light-b" href="/views/form.html">Únete a yeii ></a>
                <a id="mobile" class="mobile button-light-b" href="/views/form.html">Únete ></a>                    
            </div>

        </div>
    </nav>

    <section class="hero">
        <div class="container">

            <div class="wrapper-image">
                <img class="desktop" src="/images/Imágenes Landing Empresas /Desktop/customer_hero.png" alt="">
                <img class="mobile" src="/images/Imágenes Landing Empresas /Mobile/customer_hero.png" alt="">

            </div>

            <div class="wrapper-content">
                <h3>Brinda un <span class="blue">servicio</span> al cliente fuera de este mundo</h3> 
                <p>Ahorras tiempo y dinero, con asesores a la medida <br> y on-demand; por tiempo completo, campaña o por hora.</p>
                <a class="button-light-y" href="/views/form.html">Únte a yeii ></a>
            </div>

           

        </div>
    </section>


    <section class="porque">
        <div class="container">

            <div class="header">
                <h4 class="yellow">Los beneficios</h3>
                <h2>Simplificamos tu operación</h2>
            </div>

            <div class="wrapper-card">
                <div class="container-card">

                <div class="card">
                    <img src="/images/Imágenes Landing Empresas /Icons.svg" alt="">
                    <h4>Encuentra  asesores rápidamente</h4>
                    <p>Encuentras asesores de forma rápida, de acuerdo a tu modelo de negocios, valores y cultura organizacional.</p>
                </div>

                <div class="card">
                    <img src="/images/Imágenes Landing Empresas /Icons1.svg" alt="">
                    <h4>Hacemos tu customer experience</h4>
                    <p>Te asesoramos para diseñar tu experiencia al cliente y si ya la tienes te ayudamos a ejecutarla en el servicio día a día.</p>
                </div>

                <div class="card">
                    <img src="/images/Imágenes Landing Empresas /Icons2.svg" alt="">
                    <h4>Capacitación <br> continua</h4>
                    <p>Capacitamos a tus asesores con una metodología para que estén siempre alineados a las optimizaciones que hagas a tu operación.</p>
                </div>

                <div class="card">
                    <img src="/images/Imágenes Landing Empresas /Icons3.svg" alt="">
                    <h4>Cultura de <br> servicio</h4>
                    <p>Comienza de adentro hacia afuera, generamos una cultura de servicio donde los asesores estén felices para que tus clientes te renueven, recomienden y amen.</p>
                </div>
                
                </div>
            </div>

        </div>
    </section>


    <section class="seguimiento">
        <div class="container">

            <div class="wrapper-content">
                <h4 class="yellow">Seguimiento y supervisión</h4>
                 <h6>Nos encargamos de brindarte herramientas para que tengas reporte de métricas como NPS, SLA´s, etc; tan generales o específicas las necesites</h6>
            </div>

        </div>
    </section>

    <section class="producto">
        <div class="container">

            <div class="header">
                <h4 class="blue">El producto</h4>
                <h2>Descubre el poder de la nube</h2>
                <p>Lleva tu servicio al siguiente nivel con una telefonía virtual, con números locales, implementa un IVR de manera sencilla y conecta todo a tu CRM</p>
            </div>

            <div class="wrapper-list">
                <div class="container"></div>
                <div class="image">
                    <img class="desktop" src="/images/Imágenes Landing Empresas /Desktop/customer_yellow.png" alt="">
                    <img class="mobile" src="/images/Imágenes Landing Empresas /Mobile/customer_yellow.png" alt="">
                </div>
                <div class="list">
                    <div class="list-dots">
                        <div >
                            <div class="dot-blue"></div>
                        </div>
                        <p>Usamos AI para escuchar los insights</p>
                    </div>
                    <div class="list-dots">
                        <div>
                            <div class="dot-blue"></div>
                        </div>
                        <p>Tus asesores pueden conectarse desde cualquier parte del mundo</p>
                    </div>
                    <div class="list-dots">
                        <div>
                            <div class="dot-blue"></div>
                        </div>
                        <p>Usamos la AI para tener llamadas sin interrupciones</p>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </section>


    <section class="close">
        <div class="container">

            <div class="wrapper-close">
                <div class="wrapper-brand">
                    <img src="/images/brand/Favicon.png" alt="">
                </div>
                <div class="wrapper-content">
                    <h4 class="yellow-n">Súmate a la cadena de valor </h4>
                    <h6>Usamos la tecnología para que las empresas ahorren costos y los asesores puedan ganar mucho más.</h6>
                </div>

                <div class="wrapper-button">
                    <a href="/views/form.html" class="button-dark">Únte a yeii ></a>
                </div>
            </div>

        </div>
    </section>
    


    <footer class="footer">
        <div class="container">

            <div class="wrapper-menu">
                <div class="container-menu">
                    <div class="menu-list">
                        <ul>
                            <li class="bold">Menu</li>
                            <li><a href="/views/asesor.html">Asesores</a></li> 
                            <li><a href="/views/empresa.html">Empresas</a></li>
                        </ul>
                    </div>
                    <div class="menu-list">
                        <ul>
                            <li class="bold"> <b>Siguenos</b> </li>
                            <li><a target="blank" href="https://www.facebook.com/yeii.chat">Facebook</a></li>
                            <li><a target="blank" href="https://www.instagram.com/yeii.chat/">Instagram</a></li>
                            <li><a target="blank" href="https://twitter.com/yeiichat">Twitter</a></li>
                            <li><a target="blank" href="https://www.linkedin.com/company/yeii-chat">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="menu-list">
                        <ul>
                            <li class="bold">Contacto</li>
                            <li>+52 56 2834 8889</li>
                            <li>hola@yeii.chat</li>
                            <li>@yeii.chat</li>
                        </ul>
                    </div>
                    <div class="menu-copy">
                        <p>
                            👋 <br>
                            Un servicio fuera de este mundo  en un clic
                        </p>
                    </div>
                </div>
            </div>

            <div class="wrapper-politics">
                <hr>
                    <div class="container">
                    <img src="/images/brand/Logo.png" alt="">
                    <p>© 2020 yeii.chat. Todos los derechos reservados.</p>
                </div>
            </div>


        </div>
    </footer>
    
</body>
</html>